.doctor-margin {
    margin: 100px 150px;
}

.doctor-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.doctor-info-container {
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: center; */
    width: 50%;
    margin-right: 20px;
}

.doctor-info-container .bestsellerBadge {
    width: 150px;
    padding: 9px 9px;
    margin-bottom: 3%;
    font-size: 1em;
    font-weight: 600;
    border-radius: 3px;
    background-color: #99d6ff;
    color: #090601;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor-info {
    width: 100%;
    margin: 5%;
    text-align: left;
}

.doctor-image {
    width: 100%;
    border-radius: 8px;
}

.doctor-name {
    margin-top: 1rem;
    color: var(--black);
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.doctor-specialty {
    color: #7c7a72;
    font-size: 20px;
    /* Adjust font size */
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.ratingDiv {
    display: flex;
    align-items: center;
}

.doctor-rating {
    color: #ffa534;
    font-size: 14px;
    font-weight: 700;
}

.stars {
    color: #ffa534;
}

.stars * {
    transform: scale(0.8);
    height: 16px;
    width: 16px;
}

@media (max-width: 768px) {
    .doctor-margin {
        margin: 50px 20px;
    }

    .doctor-detail {
        flex-direction: column;
        align-items: center;
    }

    .doctor-info-container {
        width: 100%;
        margin-right: 0;
    }

    .doctor-info {
        margin: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .doctor-margin {
        margin: 80px 50px;
    }
}

@media (min-width: 1024px) {
    .doctor-margin {
        margin: 100px 150px;
    }
}


/* Book Appointment */

.booking-appointment-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0.9, 0.9, 0.7, 0.3);
    width: 400px
}

.booking-appointment-card h4 {
    color: #777;
    font-size: 18px;
}

.booking-appointment-card h4 span {
    color: var(--black);
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}


.booking-appointment-card h5 {
    color: #555;
    margin-top: 10px;
}

.booking-appointment-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.booking-appointment-card ul li {
    color: #777;
    margin-top: 5px;
}

.booking-price {
    display: flex;
    justify-content: space-between;
}

.book-appointment-button {
    margin-top: 30px;
    background-color: var(--roczen-blue);
    color: #fff;
    padding: 13px 33px;
    font-size: 19px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
    border-color: #ffffff00;
}

.book-appointment-button:hover {
    background-color: var(--black);
}

.doctor-nav {
    display: flex;
    justify-content: left;
    margin: 10px;
}

.nav-item {
    cursor: pointer;
    margin: 10px;
    font-size: 21px;
}

.nav-line {
    width: 100%;
    border-bottom: 1px solid #a8a8a8;
    position: relative;
}

.active {
    /* border-bottom: 2px solid #000; */
    color: var(--roczen-blue);
    font-weight: 600;
}

.doctor-section {
    padding: 20px;
}

.about-section.active,
.feedback-section.active {
    display: block;
}


/* ----about section----- */

.about-section {
    margin-top: 20px;
    width: 70%;
}

.about-section h2 {
    font-size: 24px;
}

.about-section span {
    color: var(--roczen-blue);
}

.about-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 20px;
    margin-top: 20px;
}

.about-section ul {
    list-style: none;
    padding: 0;
}

.about-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.experience-section {
    margin-top: 20px;
}

.experience-section h3 {
    font-size: 24px;
}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 3%;
}

.experience-card {
    background-color: #d9f0fe;
    padding: 10px;
    border-radius: 8px;
}

.experience-card h5 {
    font-size: 18px;
    margin-top: 0;
}

.experience-card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.feedback-section {
    margin-top: 20px;
}

.feedback-section h3 {
    font-size: 24px;
}


/* --------review section--------- */

.review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.user-profile {
    margin-right: 10px;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-details {
    flex-grow: 1;
}

.review-details .rating{
    color: #ffa534;
}

.user-name {
    font-size: 18px;
    margin-top: 0;
}

.review-date {
    color: #888;
    margin-bottom: 5px;
}

.review-text {
    font-size: 16px;
    margin: 0;
}

/* -----------Give FeedBack -------------- */

.give-feedback-button {
    margin-top: 30px;
    background-color: var(--roczen-blue);
    color: #fff;
    padding: 13px 33px;
    font-size: 19px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border-color: #ffffff00;
  }
  
  .give-feedback-button:hover {
    background-color: var(--black);  }
  
  .feedback-form {
    margin-top: 20px;
  }
  
  .star-rating {
    display: flex;
    margin-bottom: 10px;
  }
  
  .star-rating .MuiSvgIcon-root {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }
  
  .star-rating .MuiSvgIcon-root.selected {
    color: #ffa534; 
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .submit-feedback-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-feedback-button:hover {
    background-color: #218838;
  }
  