.patient-details-container {
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* Center the container horizontally */
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Align items vertically */
    align-items: center;
    /* Center items horizontally */
    margin: 30px 100px 30px 100px;
}

.patient-details-section {
    margin-bottom: 20px;
}

.patient-pdfs-section {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* gap: 10px; */
}

.pdf-item {
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
}

.pdf-item button {
    /* margin-top: 10px; */
}

.btn2-primary{
    background-color: var(--roczen-blue);
    color: #fff;
    padding: 10px 30px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease; 
}

.btn2-primary:hover {
    background-color: var(--black); 
    color: #fff;
  }