@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.cards{
    padding: 5% 15% 5% 15%;
}

.functinality{
    padding: 0 5%;
}


.feature-row h3 {
  margin-top: 20px;
}

.feature-row h6 {
  margin-bottom: 50px; 
}

.second-row {
  margin-top: 50px;
  height: 400px;
}

.circular-image {
  width: 400px; 
  height: 400px; 
  border-radius: 50%;
  border: 7px solid var(--color-bg2);
  background: url('https://a.storyblok.com/f/120667/824x820/586db08eec/events_hero.png/m/824x820/filters:format(webp)') center/cover no-repeat; /* Add your image path */
}

.feature-row {
  height: 133px;
  margin-left: 10px;
}