
:root {
    --gradient-color-1: #FFFFFF;
    --gradient-color-2: #81F5FF;
    --gradient-color-3: #BAD9FF;
    --gradient-color-4: #FEE9ED;
    --gradient-color-5: #81F5FF;
    --gradient-color-6: #F7F7F6;
    --black: #000b1c;
    --roczen-blue: #006ef7;
    --grey-accent: #aeaeae;
    --light-grey: #faf5f3;
    --white: white;
    --purple: #5e26af;
    --green: #007e84;
    --roczen-light-blue: rgba(0, 110, 247, .14);
    --diet-doctor-green: #4ca85f;
    --light-blue: #e8f2ff;
    --pink-accent: #ff758f;
    --pale-green: #d1f4ae;
    --thistle: #f4ceec;
    --blue-1: #b3d4fd;
    --blue-2: #80b7fb;
    --blue-3: #4d9af9;
    --blue-4: #2684f8;
    --diet-doctor-light-green: rgba(76, 168, 95, .1);
    --morgan-s-green: rgba(146, 170, 78, .2);
    --morgan-s-blue: rgba(73, 160, 214, .15);
    --roczen-plus: #1238ff;
    --diet-doctor-blue: #183575;
    --nhs-blue: #005eb8;
    --dark-sea-green: #9dd09c;
    --light-coral: #f99;
    --color-bg1: #3da1ff;
    --color-bg2: rgb(193, 221, 255);
    --color1: 128, 183, 251;
    --color2: 152, 198, 255;
    --color3: 186, 217, 255;
    --color4: 254, 233, 237;
    --color5: 129, 245, 255;
    --color-interactive: 247, 247, 246;
    --circle-size: 80%;
    --blending: hard-light;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}


.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;

    svg {
        display: none;
    }


    .gradients-container {
        filter: url(#goo) blur(40px);
        width: 100%;
        height: 100%;
    }

    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: center center;
        animation: moveVertical 30s ease infinite;

        opacity: 1;
    }

    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;

        opacity: 1;
    }

    .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle-size) / 2 - 500px);

        transform-origin: calc(50% + 400px);
        animation: moveInCircle 40s linear infinite;

        opacity: 1;
    }

    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;

        opacity: 0.7;
    }

    .g5 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: calc(var(--circle-size) * 2);
        height: calc(var(--circle-size) * 2);
        top: calc(50% - var(--circle-size));
        left: calc(50% - var(--circle-size));

        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;

        opacity: 1;
    }

    .interactive {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;

        opacity: 0.7;
    }
}

/*/////////////////////////////////////*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    overflow: hidden; /* Prevent scrolling */
  }
  
  .centered-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 3;
    color: black;
  }
  
  
  .centered-container h1 {
    padding: 0 18rem ;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .centered-container p {
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
    color: rgba(0,11,28,.6);;
  }
  
  .btn-primary {
    background-color: var(--roczen-blue);
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: var(--black);
  }
  
  /* Add this media query for responsiveness */
  @media (max-width: 768px) {
    h1 {
      font-size: 36px;
    }
  
    p {
      font-size: 16px;
    }
  
    .btn-primary {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  .corner-image {
    position: absolute;
    width: 25%;
    height: 25%;
    background-size: cover;
    border-radius: 10px;
  }

  .left-bottom {
    bottom: 5em;
    left: 3em;
    background-image: url('../../assets/doc_home.jpg'); 
  }
  
  .right-top {
    top: 0;
    right: 10em;
    background-image: url('../../assets/doc.webp'); 
    z-index: 5;
  }