.patient-details-container {
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 100px 30px 100px;
}

.patient-details-section {
    margin-bottom: 20px;
}

.patient-pdfs-section {
    display: grid;
}

.pdf-item {
    padding: 10px;
    border-radius: 5px;
}

.pdf-item button {
}

.btn2-primary{
    background-color: var(--roczen-blue);
    color: #fff;
    padding: 10px 30px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease; 
}

.btn2-primary:hover {
    background-color: var(--black); 
    color: #fff;
  }